* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a4a4a;
  z-index: 1;
}

.main {
  background-color: #3cdbc0;
  position: relative;
  top: 123px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  align-content: center;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.title-1 {
  margin-top: 500px;
}

.title-2 {
  margin-bottom: 500px;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: #4a4a4a;
}

.item1 {
  margin-right: 20px;
}

.item {
  margin-bottom: 20px;
}

.link:visited {
  color: #4a4a4a;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .list {
    position: absolute;
    right: 30px;
    top: 50px;
  }

  .logo {
    position: relative;
    top: 20px;
    left: 30px;
    bottom: 20px;
  }
}
